#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.register-link{
  padding: 15px;
  border: solid gray 1px;
  background-color: #FB0021;
  border-radius: 15px;
}
.register-link:hover{
  cursor: pointer;
  border: solid black 2px;
  background-color: #dc0623;
  font-weight: bold;
}
.div-router{
  margin-bottom: 5rem;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}