.container-view {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error {
  border: 2px solid #fb0021 !important;
}

.btn-back {
  --background: transparent;
  --box-shadow: 0 0 0 0;
}

.btn-back:hover {
  cursor: pointer;
}

.title-login {
  text-align: center;
  color: #fb0021;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 1.8rem;
}

.formulario-login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-forms-login{
  width: 90%;
  display: flex;
  flex-direction: column !important;
  margin-bottom: 1.6rem;
}

.div-label-login{
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.div-label-login> ion-label {
  margin-left: 10px;
}

.input-modify {
  border: solid gray 1px;
  margin-top: 1.2rem;
  border-radius: 15px;
  padding: 5px 15px 5px 15px !important;
}

.btn-active {
  --background: #fb0021;
  --color: #fff;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --border-radius: 30px !important;
}

.btn-inactive {
  --background: gray;
  --color: #d3d3d3;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --border-radius: 30px !important;
}

.register-link {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.pass-forget {
  padding: 1rem;
  text-align: end;
}
.pass-forget:hover {
  cursor: pointer;
  color: #fb0021;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 3rem 2rem 3rem 2rem;
  width: 100%;
}
.divider>span{
  color: #fff;
}

.span-green{
  margin-left: 20px;
  color: #fb0021;
}
.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid ;
}

.divider-text {
  margin: 0 8px;
  color: #000;
}

.error-message {
  color: #FB0021;
  font-size: 12px;
}

.container-google-auth{
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-google-auth{
  --background:none;
  --color:none;
  border:solid gray 1px;
  border-radius:30px;
  font-weight: bold;
}
.google-icon{
  height: 1.8rem;
  margin-right: 10px;
}
