<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Mi Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="profile-container" *ngIf="!loadingData">
    <div class="contendor-img-profile">
      <div class="profile-image-container">
        <ion-img [src]="profileImageUrl" (click)="changeProfileImage()"></ion-img>
        <ion-icon name="create-outline" class="edit-icon" (click)="changeProfileImage()"></ion-icon>
      </div>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
      <ion-item>
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input formControlName="fullName" [ngClass]="{'invalid': isFullNameInvalid}"></ion-input>
      </ion-item>
      <div *ngIf="isFullNameInvalid" class="error-message">Nombre completo es requerido</div>
      
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input formControlName="phoneNumber" type="tel" [ngClass]="{'invalid': isPhoneNumberInvalid}"></ion-input>
      </ion-item>
      <div *ngIf="isPhoneNumberInvalid" class="error-message">
        <span *ngIf="phoneNumber?.errors?.['required']">Teléfono es requerido</span>
        <span *ngIf="phoneNumber?.errors?.['minlength']">Teléfono debe tener al menos 8 dígitos</span>
        <span *ngIf="phoneNumber?.errors?.['pattern']">Teléfono debe contener solo números</span>
      </div>
      
      <ion-item>
        <ion-label position="floating">DNI</ion-label>
        <ion-input formControlName="identityNumber" type="text" [ngClass]="{'invalid': isIdentityNumberInvalid}"></ion-input>
      </ion-item>
      <div *ngIf="isIdentityNumberInvalid" class="error-message">
        <span *ngIf="identityNumber?.errors?.['required']">DNI es requerido</span>
        <span *ngIf="identityNumber?.errors?.['minlength']">DNI debe tener al menos 13 dígitos</span>
        <span *ngIf="identityNumber?.errors?.['pattern']">DNI debe contener solo números</span>
      </div>
      
      <ion-item>
        <ion-label position="floating">Fecha de Nacimiento</ion-label>
        <ion-input formControlName="birthdate" type="date" [ngClass]="{'invalid': isBirthDateInvalid}"></ion-input>
      </ion-item>
      <div *ngIf="isBirthDateInvalid" class="error-message">
        <span *ngIf="birthdate?.errors?.['required']">Fecha de nacimiento es requerida</span>
        <span *ngIf="birthdate?.errors?.['invalidDate']">Fecha de nacimiento no puede ser mayor a la actual</span>
      </div>
      <div class="btn-container">
        <button class="btn-save-profile" type="submit" expand="full" color="primary" [disabled]="!profileForm.valid && !imageChanged">
          Guardar
        </button>
      </div>
    </form>
    <div class="btn-container">
      <button class="btn-logout" (click)="logout()" expand="full" color="danger">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#3880FF" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
          <path d="M9 12h12l-3 -3" />
          <path d="M18 15l3 -3" />
        </svg>
        Cerrar Sesión
      </button>
    </div>
  </div>

  <div class="loading-data" *ngIf="loadingData">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>
